<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testeBradesco.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A80DD901DBB891E00819114</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A80DDA41DBB891F00819114</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A80DDAF1DBB891F00819114</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
